{% for client in {{ ipsec.client}} %}
conn ipsec-"{{ client.key }}"
        keyexchange=ikev2
        type=tunnel
        authby=secret
        rekey=no
        keyingtries=2
        left=%any
        right="{{ client.right }}"
        rightsubnet="{{ client.rightsubnet }}"
        leftsubnet="{{ client.leftsubnet }}"
        auto=route
        fragmentation=yes
{% endfor %}