conn l2tpvpn
        keyexchange=ikev2
        type=tunnel
        authby=secret
        rekey=no
        keyingtries=2
        left=%any
        right=%any
        leftsubnet="{{ ipsec.server.leftsubnet }}"
        rightsubnet="{{ ipsec.server.rightsubnet }}"
        auto=add

