{% for client in ipsec.client %}
conn ipsec-{{ client }}
        keyexchange=ikev2
        type=tunnel
        authby=secret
        rekey=yes
        keyingtries=3
        left=%any
        right="{{ ipsec.client[client].right }}"
        rightsubnet="{{ ipsec.client[client].rightsubnet }}"
        leftsubnet="{{ ipsec.client[client].leftsubnet }}"
        auto=route
        fragmentation=yes
        reauth=no
        dpdaction=clear
        esp=aes256-sha256-modp2048
{% endfor %}