{% for server in ipsec.server %}
conn ipsec-{{ server }}
        keyexchange="{{ ipsec.client[client].keyexchange | d("ikev2") }}"
        type=tunnel
        authby=secret
        rekey=yes
        keyingtries="{{ ipsec.client[client].keyingtries | d("3") }}"
        left=%any
        right=%any
        leftsubnet="{{ ipsec.server[server].leftsubnet }}"
        rightsubnet="{{ ipsec.server[server].rightsubnet }}"
        auto=add
        fragmentation=yes
        reauth=no
        dpdaction=clear
        esp="{{ ipsec.client[client].esp | d("aes256-sha256-modp2048") }}"
{% endfor %}
